@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 116px;
}
@media (max-width: 1000px) {
  main {
    padding: 0 16px;
  }
}

h2 {
  padding: 32px 0;
  margin: 0;
}

h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

main .city {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 0.5rem;
}

main .city i {
  font-size: 1.5rem;
}

/* EXPLORER */
.explorer {
  text-align: center;
}

.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}

.explorer p {
  font-size: 1rem;
}

.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: transform 200ms;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 10px -1px rgba(60, 60, 60, 0.5);
}

.explorer button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.tuto {
  counter-reset: steps;
  margin-bottom: 32px;
}
.tuto ol {
  display: flex;
  gap: 32px;
}
@media (max-width: 1000px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 24px 32px;
  flex-grow: 1;
  border-radius: 16px;
  box-shadow: 2px 2px 10px -1px rgba(60, 60, 60, 0.5);
  cursor: pointer;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}
.tuto i.fas {
  margin-right: 16px;
  color: #7e7e7e;
  font-size: 24px;
}

.tuto li:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.menu {
  background-color: #f6f6f6;
  margin-bottom: 32px;
}
.menu .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media (max-width: 1000px) {
  .menu .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.menu .new {
  position: relative;
}
.menu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 35px;
  width: 80px;
  background-color: #99E2D0;
  display: grid;
  place-items: center;
  right: 16px;
  top: 16px;
}
.menu .card__image {
  height: 240px;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}
.menu .card__image-1 {
  background-image: url("/images/menu-1.jpg");
}
.menu .card__image-2 {
  background-image: url("/images/menu-2.jpg");
}
.menu .card__image-3 {
  background-image: url("/images/menu-3.jpg");
}
.menu .card__image-4 {
  background-image: url("/images/menu-4.jpg");
}
.menu .card__description {
  position: relative;
  background-color: white;
  border-radius: 0 0 20px 20px;
}
.menu .card__description h3,
.menu .card__description p {
  padding: 4px;
}
.menu .card__description p {
  padding-bottom: 16px;
}
.menu .card__description i {
  font-size: 32px;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.menu .card__description .fas {
  color: transparent;
  background-image: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.menu .card__description .fas:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 16px 32px;
  color: white;
}

h4 {
  font-family: "shrikhand", sans-serif;
  font-size: 20px;
  padding: 10px 2;
  margin-left: 2px;
}

p {
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
